<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQL.Properties.Settings.Conexion" connectionString="Data Source=DESKTOP-V9HEE9T\SQLEXPRESS;Initial Catalog=Productos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>