<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Properties.Settings.Setting" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\alumno\Desktop\Mattia.Alberti.Tomas.2A\BD_SegParcialLabII_2017\Precios.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>