<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Properties.Settings.conexion" connectionString="Data Source=SERJH-PC\SQLEXPRESS;AttachDbFilename=C:\Users\SERJH\Desktop\FinalLab\productosDB.mdf;Initial Catalog=productosDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>